@layer najwer23snacksDialog {
  .dialog {
    --n23snacks-dialog-animation-out-settings: 500ms cubic-bezier(0.5, -0.5, 0.1, 1.5) normal;

    min-height: 100px;
    max-inline-size: min(95vw, 95%);
    max-block-size: min(95vh, 100%);
    max-block-size: min(95dvb, 100%);
    overflow: auto;
    padding: 0;

    &.hasTitle {
      padding: 20px;
      header {
        margin-right: 70px;
      }
    }

    & .dialogCloseButton {
      position: fixed !important;
      right: 10px;
      top: 10px;
    }

    &.minimize {
      animation: minimize var(--n23snacks-dialog-animation-out-settings);
    }

    &::backdrop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px);
      animation: none;
    }

    &.minimize::backdrop {
      animation: fadeout var(--n23snacks-dialog-animation-out-settings);
    }
  }

  @keyframes fadeout {
    to {
      opacity: 0;
    }
  }

  @keyframes minimize {
    to {
      opacity: 0;
      transform: scale(0);
    }
  }
}
