@layer najwer23snacksGrid {
  .container {
    max-width: var(--widthMax);
    min-width: var(--widthMin);
    padding: var(--padding);
    margin: var(--margin);
    box-sizing: border-box;
  }

  .columns {
    display: flex;
    column-gap: var(--col-gap);
    row-gap: var(--row-gap);
    flex-wrap: wrap;
    width: 100%;
  }

  .columns > div {
    width: calc(
      (100% / var(--n23snacks-flex-col)) -
        (((var(--n23snacks-flex-col) - 1) / var(--n23snacks-flex-col)) * var(--col-gap))
    );
  }

  /* breakpoints */
  @media (max-width: 767.98px) {
    .columns > div {
      --n23snacks-flex-col: var(--col-mobile);
    }
  }

  @media (min-width: 768px) and (max-width: 1199.98px) {
    .columns > div {
      --n23snacks-flex-col: var(--col-tablet);
    }
  }

  @media (min-width: 1200px) and (max-width: 1599.98px) {
    .columns > div {
      --n23snacks-flex-col: var(--col-small-desktop);
    }
  }

  @media (min-width: 1600px) {
    .columns > div {
      --n23snacks-flex-col: var(--col-desktop);
    }
  }
}
