@layer najwer23snacksCarouel {
  .carousel {
    display: flex;
    gap: var(--gap);
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;

    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      flex-shrink: 0;
    }
  }

  .carouselWrapper {
    display: grid;
    position: relative;
  }

  .arrowLeft {
    position: absolute;
    top: calc(50% - 25px);
    left: 20px;
    display: none;

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .arrowRight {
    position: absolute;
    right: 20px;
    top: calc(50% - 25px);
    display: none;

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .arrowShow {
    display: block;

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .buttonArrowRight,
  .buttonArrowLeft {
    position: relative;
    padding: 5px 0 5px 0;
    transition: all 0.2s linear;
    width: 15px;
    height: 15px;
  }

  .buttonArrowRight::after {
    content: '';
    display: flex;
    width: 15px;
    right: 3px;
    height: 15px;
    position: absolute;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
  }

  .buttonArrowLeft::after {
    content: '';
    display: flex;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 3px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
  }
}
