@layer n23snacksInput {
  .inputWrapper {
    margin-top: 0px;
    margin-bottom: 18px;
  }

  .inputLabel {
    font-size: var(--n23snacks-input-label-font-size);
    font-family: var(--n23snacks-input-label-font-family);
    font-weight: var(--n23snacks-input-label-font-weight);
    color: var(--n23snacks-input-label-font-color);
    line-height: 22px;
  }

  .inputInput {
    display: grid;

    & input,
    & textarea {
      color: var(--n23snacks-input-input-font-color);
      font-family: var(--n23snacks-input-input-font-family);
      font-weight: var(--n23snacks-input-input-font-weight);
      font-size: var(--n23snacks-input-input-font-size);
      border: 1px solid var(--n23snacks-input-input-border-color);
      border-radius: 5px;
      box-sizing: border-box;
    }

    & input {
      height: 40px;
      padding: 20px 10px;
      width: 100%;
    }

    & textarea {
      field-sizing: content;
      block-size: 100%;
      max-height: 400px;
      min-height: 200px;
      padding: 10px;
      resize: vertical;
    }

    & ::placeholder {
      filter: brightness(150%);
      font-weight: var(--n23snacks-input-input-placeholder-font-weight);
    }
  }

  .inputError {
    font-size: var(--n23snacks-input-error-font-size);
    font-family: var(--n23snacks-input-error-font-family);
    font-weight: var(--n23snacks-input-error-font-weight);
    line-height: 1;
    margin: 2px;
    color: var(--n23snacks-input-error-font-color);
  }
}
