@layer najwer23snacksFooter {
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    position: relative;
  }

  .footerPush {
    /* footerContent + 75px */
    padding-bottom: 425px;
  }

  .footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footerContent {
    height: 350px;
  }

  @media (max-width: 767.98px) {
    .footerPush {
      padding-bottom: 575px;
    }

    .footerContent {
      height: 500px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199.98px) {
    .footerPush {
      padding-bottom: 575px;
    }

    .footerContent {
      height: 500px;
    }
  }

  /* others */

  .hr {
    height: 1px;
    width: 100%;
  }
}
