@layer najwer23snacksNavigation {
  .navigationItems {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
  }

  .navigationItemRight {
    min-width: 50px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: center;
  }

  .navigationItemLeft {
    min-width: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: center;
  }

  .hr {
    height: 1px;
    width: 100%;
  }
}

@layer NavigationMobile {
  .menuMobile {
    display: none;
    box-sizing: border-box;
    width: 100vw;
    background-color: var(--najwer23snacks-navigation-mobile-bg-color);
    height: 100vh;
    padding: 0px 0px 150px 0px;
    overflow: auto;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;

    &.open {
      display: block;
    }
  }
  
  .menuOpen {
    overflow: hidden;
  }
}
