:root {
  /* Fonts */
  --n23snack-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

  /* Button */
  --n23snack-button-bg-color: #00a76f;
  --n23snack-button-bg-color-hover: #007867;
  --n23snack-button-bg-color-active: #004b50;
  --n23snack-button-bg-color-focus: #00b8d9;
  --n23snack-button-bg-color-disabled: #919eab;
  --n23snack-button-font-color: #ffffff;
  --n23snack-button-font-size: 18px;
  --n23snack-button-font-weight: 700;
  --n23snack-button-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Navigation */
  --najwer23snacks-navigation-mobile-bg-color: white;

  /* TextBox */
  --n23snack-textbox-h1-font-color: black;
  --n23snack-textbox-h2-font-color: black;
  --n23snack-textbox-h3-font-color: black;
  --n23snack-textbox-p-font-color: black;
  --n23snack-textbox-a-font-color: orange;
  --n23snack-textbox-a-font-color-hover: orangered;
  --n23snack-textbox-title-a-font-color: green;
  --n23snack-textbox-title-a-font-color-hover: yellow;

  /* Input */
  --n23snacks-input-label-font-size: 16px;
  --n23snacks-input-label-font-family: var(--n23snack-font-family);
  --n23snacks-input-label-font-weight: 700;
  --n23snacks-input-label-font-color: #161925;

  --n23snacks-input-input-font-size: 18px;
  --n23snacks-input-input-font-family: var(--n23snack-font-family);
  --n23snacks-input-input-font-weight: 600;
  --n23snacks-input-input-font-color: #161925;
  --n23snacks-input-input-border-color: #161925;
  --n23snacks-input-input-placeholder-font-weight: auto;

  --n23snacks-input-error-font-size: 14px;
  --n23snacks-input-error-font-family: var(--n23snack-font-family);
  --n23snacks-input-error-font-weight: 600;
  --n23snacks-input-error-font-color: #ff3333;

  /* Select */
}
